@import '../../../css/colors.scss';

.sidebarHeading {
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;
    text-transform: uppercase!important;
    color: $rgba-1;

    margin-top: 1rem;
}