@import '../../../../css/colors.scss';

.navItem {
    position: relative;
    display: flex;
    align-items: center;

    .dropDownWrapper {
        display: flex;


    }

    .navLink {
        color: $rgba-3;
        text-decoration: none;
        display: flex;

        &::after {
            display: inline-block;
            margin-left: 0;
            vertical-align: 0;
            content: "";
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
        }

        .badge {
            display: inline-block;
            padding: 0.25em 0.4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.35rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .badgeDanger {
            color: $pure-white;
            background-color: $red;
        }

        .badgeCounter {
            position: absolute;
            transform: scale(.7);
            transform-origin: top right;
            right: -0.6rem;;
            margin-top: -0.25rem;
        }
    }

    .navLinkIcon {
        display: flex;
        color: $gray-5;
        align-items: center;
    }
}

.submenuItems {
    position: absolute;
    inset: 27px 0px auto auto !important;
}

.customDropDown {
    border: 1px solid $gray-3;
    font-size: .85rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0.35rem;

    hr {
        color: $gray-4;
    }

    .menuIcon {
        color: $gray-5;
        margin-right: 0.5rem;
        font-size: 0.75rem;
    }

    .dropdownHeader {
        background-color: $blue;
        border: 1px solid $blue;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: $pure-white;
        font-weight: 800;
        font-size: 0.65rem;
        display: block;
        padding: 0.5rem 1.5rem;
        margin-bottom: 0;
        text-transform: uppercase;
        border-top-right-radius: 0.35rem;
        border-top-left-radius: 0.35rem;
    }
}