@import '../../../css/colors.scss';

.navItem {
    position: relative;

    .navLink {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 14rem;
      color: $rgba-2;
      text-decoration: none;
      cursor: pointer;

      span {
        font-size: 0.85rem;
      }

      &:active, &:hover {
        color: $pure-white;
      }

      .fontIcon {
        margin-right: 0.25rem;
      }

      .angleRight {
        float: right;
        padding-top: 0.3rem;
      }
    }
}