.bgGradientPrimary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;

        .cardBody {
            flex: 1 1 auto;
            min-height: 1px;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -0.75rem;
                margin-left: -0.75rem;

                .bgLoginImage {
                    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
                    background-position: center;
                    background-size: cover;
                }
            }   
        }
    }
}