@import '../../../../../css/colors.scss';

.dropDownItem {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid $gray-3;
    border-right: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
    line-height: 1.3rem;
    padding: 0.25rem 1.5rem;
    color: $gray-6 !important;

    .dropdownListImage {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem!important;

        img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%!important;
            vertical-align: middle;
            border-style: none;
        }

        .statusIndicator {
            background-color: $gray-4;
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            border: 0.125rem solid $pure-white;
        }
    }

    .textTruncate {
        width: 14rem;
    }
}