@import '../../../../css/keyframes.scss';

.navItem {
    position: relative;
    display: flex;
    align-items: center;

    .navLink {
        color: rgba(0, 0, 0, 0.55);
        text-decoration: none;
        cursor: pointer;
        height: 4.375rem;

        .imgProfile {
            height: 2rem;
            width: 2rem;
            border-radius: 50% !important;
        }

        .mr2 {
            margin-right: 0.5rem!important;
        }

        .small {
            font-size: 80%;
        }

        &::after {
            display: inline-block;
            margin-left: 0;
            vertical-align: 0;
            content: "";
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
        }
    }
}

.submenuItems {
    position: absolute;
    inset: 25px 0px auto auto !important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.customDropDown {
    border: 1px solid #e3e6f0;
    font-size: .85rem;

    hr {
        color: #eaecf4;
    }

    .menuIcon {
        color: #d1d3e2;
        margin-right: 0.5rem;
        font-size: 0.75rem;
    }
}
