.suggestions {
    position: absolute;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 20rem;
    overflow-y: auto;
    padding-left: 0;
    width: calc(100% - 0.1rem);
    background-color: white;

    li {
        padding: 0.5rem;

        &:hover, &.suggestionActive {
            background-color: #008f68;
            color: #fae042;
            cursor: pointer;
        }
    }
}

.noSuggestions {
    position: absolute;
}