@import '../../../css/colors.scss';

.collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
    margin: 0 1rem;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.15s ease-in;

    .collapseInner {
      padding: 0.5rem 0;
      min-width: 10rem;
      font-size: .85rem;
      margin: 0 0 1rem 0;
      padding-bottom: 0.5rem!important;
      background-color: $pure-white!important;
      border-radius: 0.35rem!important;

      .collapseHeader {
        margin: 0;
        white-space: nowrap;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: .65rem;
        color: $gray-2;
      }

      .collapseItem {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        display: block;
        color: $gray-1;
        text-decoration: none;
        border-radius: 0.35rem;
        white-space: nowrap;

        &:hover {
          background-color: $white-gray-light;
        }
      }
    }
}

.show {
  max-height: 120px;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}