// blue
$blue: #4e73df;

// rgba
$rgba-1: rgba(255,255,255,.4);
$rgba-2: rgba(255,255,255,.8);

// gray
$gray-1: #b7b9cc;
$gray-2: #3a3b45;

// white variations
$white-gray-light: #f8f9fc;
$pure-white: #fff;