// blue
$blue: #4e73df;

// red 
$red: #e74a3b;

// green
$green: #1cc88a;

// orange
$orange: #f6c23e;

// rgba
$rgba-1: rgba(255,255,255,.4);
$rgba-2: rgba(255,255,255,.8);
$rgba-3: rgba(0, 0, 0, 0.55);

// gray
$gray-1: #b7b9cc;
$gray-2: #3a3b45;
$gray-3: #e3e6f0;
$gray-4: #eaecf4;
$gray-5: #d1d3e2;
$gray-6: #2e2f37;

// white variations
$white-gray-light: #f8f9fc;
$pure-white: #fff;