@import '../../css/colors.scss';

.sidebar {
    min-height: 100vh;
    color: #fff;
    background-color: $blue;
  
    .sidebarBrand {
      height: 4.375rem;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 800;
      padding: 1.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .05rem;
      z-index: 1;
  
      .sidebarBrandText {
        display: inline;
      }
  
      .sidebarBrandIcon {
        font-size: 2rem;
      }
  
      .rotateN15 {
        transform: rotate(-15deg);
      }
    }
  
    .mx3 {
      margin-left: 1rem!important;
      margin-right: 1rem!important;
    }
  }
  
  @media (min-width: 768px) {
    .sidebar {
      width: 14rem !important;
  
      .sidebar-brand-text {
        display: inline;
      }

      .sidebarHeading {
        text-align: left;
      }
    }
  }