@import 'css/colors.scss';

.wrapper {
    display: flex;

    .content-wrapper {
        background-color: $white-gray-light;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        .content {
            flex: 1 0 auto;

            nav {
                height: 4.375rem;
                margin-bottom: 1.5rem;
                box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
                background-color: $pure-white;
            }
        }
    }

    .toast-container {
        .toast-body {
            color: white !important;
        }
        
    }
}

