.wrapper {
    display: flex;

    .content-wrapper {
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        .content {
            flex: 1 0 auto;

            nav {
                height: 4.375rem;
                margin-bottom: 1.5rem;
                box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
                background-color: #fff;
            }

            .navbar {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem 1rem;

                .navbar-search {
                    width: 25rem;

                    input {
                        font-size: 0.85rem;
                    }
                }

                .navbar-nav {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    margin-left: auto!important;

                    .nav-item {
                        position: relative;
                    
                        .nav-link {
                            color: rgba(0, 0, 0, 0.55);

                            .img-profile {
                                height: 2rem;
                                width: 2rem;
                                border-radius: 50% !important;
                            }

                            .mr-2 {
                                margin-right: 0.5rem!important;
                            }

                            &::after {
                                display: inline-block;
                                margin-left: 0;
                                vertical-align: 0;
                                content: "";
                                border-top: 0;
                                border-right: 0;
                                border-bottom: 0;
                                border-left: 0;
                            }
                        }
                    }
                }
            }

            .navbar-expand {
                flex-flow: row nowrap;
                justify-content: flex-start;
            }
        }

        .sticky-footer {
            padding: 2rem 0;
            flex-shrink: 0;
            background-color: #fff;

            .container {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                margin-bottom: auto;

                .copyright {
                    line-height: 1;
                    font-size: .8rem;
                }
            }
        }
    }
}

